.card__icono {
  width: 50px;
  height: 50px;
  background: center / contain no-repeat;
  position: relative;
  top: 20px;
  left: 10px;
}

.card__skill,
.card__hobbie {
  font-size: 1.5rem;
  font-weight: bolder;
  padding-left: 10px;
  padding-top: 10px;
}
.python {
  background-image: url("../../img/iconos/bxl-python.svg");
}
.html {
  background-image: url("../../img/iconos/bxl-html5.svg");
}
.js {
  background-image: url("../../img/iconos/bxl-javascript.svg");
}
.react {
  background-image: url("../../img/iconos/bxl-react.svg");
}
.css {
  background-image: url("../../img/iconos/bxl-css3.svg");
}
.node {
  background-image: url("../../img/iconos/bxl-nodejs.svg");
}
.videojuegos {
  background-image: url("../../img/iconos/palanca-de-mando.svg");
}
.anime {
  background-image: url("../../img/iconos/icons8-anime-64.svg");
}
