.academica__card {
  background-color: var(--lavander);
  color: var(--background);
  font-size: 1.25rem;
  font-weight: 700;
  width: 300px;
  height: 120px;
  margin: 1rem;
}

@media (min-width: 1025px) {
  .academica__card {
    background-color: var(--lavander);
    color: var(--background);
    font-size: 1.25rem;
    font-weight: 700;
    width: 300px;
    height: 270px;
    margin: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .academica__card {
    background-color: var(--lavander);
    color: var(--background);
    font-size: 1.25rem;
    font-weight: 700;
    width: 225px;
    height: 120px;
    margin: 1rem;
  }
}
